    <h1>DogeKnows</h1>
    <form method="POST">
        <label>Query:</label><br />
        <input type="text" name="query"><br />
        <input type="submit">
    </form>
{{if .Success}}
<h2>Search Results</h2>
    <table border="1">
        <tr>
            <th>510(k) Number</th>
            <th>Title</th>
            <th>Applicant</th>
            <th>Submission Date</th>
            <th>Predicates</th>
        </tr>
    {{ range .SearchResults }}
    <tr>
        <td><a href="https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfPMN/pmn.cfm?ID={{.id}}">{{ .id }}</a></td>
        <td>{{ .title }}</td>
        <td>{{ .applicant }}</td>
        <td>{{ .submission_date }}</td>
        <td>{{ range .predicates}}
            <a href="https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfPMN/pmn.cfm?ID={{.}}">{{ . }}</a>,
            {{ end }}
        </td>
    </tr>
    {{ end }}
    </table>
{{end}}