<!DOCTYPE html>
<html>
  <head>
    {{ template "header" . }}
    <title>{{.SearchResults.id}} - {{.GlobalVars.Name}}</title>
  </head>
  <body>
    {{template "hero-small" .}}
      <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="/">{{.GlobalVars.Name}}</a></li>
              <li class="is-active"><a href="#" aria-current="page">{{.SearchResults.id}}</a></li>
            </ul>
          </nav>
          {{ template "search-bar-small" . }}
    </section>

    <section class="section">
        <div class="container">
            <div class="table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>510(k) Number</th>
                        <td><a href="https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfPMN/pmn.cfm?ID={{.SearchResults.id}}">{{ .SearchResults.id }}</a></td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{.SearchResults.title}}</td>
                    </tr>
                    <tr>
                        <th>Applicant</th>
                        <td>{{.SearchResults.applicant}}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>
                            {{.SearchResults.contact}}<br>
                            {{.SearchResults.STREET1}} {{.SearchResults.STREET2}}<br>
                            {{.SearchResults.CITY}}, {{.SearchResults.STATE}} {{.SearchResults.ZIP}}<br>
                            {{.SearchResults.COUNTRY_CODE}}
                        </td>
                    </tr>
                    <tr>
                        <th>Decision</th>
                        <td>{{.SearchResults.decision}}</td>
                    </tr>
                    <tr>
                        <th>Decision Date</th>
                        <td>{{.SearchResults.decision_date}}</td>
                    </tr>
                    <tr>
                        <th>Submission Date</th>
                        <td>{{.SearchResults.submission_date}}</td>
                    </tr>
                    <tr>
                        <th>Predicates</th>
                        <td>{{ range .SearchResults.predicates}}
                            <a href="/dbentry?id={{.}}">{{ . }}</a>&#32; 
                        {{ end }}</td>
                    </tr>
                    <tr>
                        <th>Decision</th>
                        <td>{{.SearchResults.decision}}</td>
                    </tr>
                    <tr>
                        <th>Product Code</th>
                        <td>{{.SearchResults.PRODUCTCODE}}</td>
                    </tr>
                    <tr>
                        <th>SSP Indicator</th>
                        <td>{{.SearchResults.SSPINDICATOR}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{.SearchResults.TYPE}}</td>
                    </tr>
                    <tr>
                        <th>Reviewed by Third Party</th>
                        <td>{{.SearchResults.THIRDPARTY}}</td>
                    </tr>
                    <tr>
                        <th>Summary</th>
                        <td>
                            <a href="{{.SummaryPDF}}">Summary</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </section>
    
</body>
</html>