<!DOCTYPE html>
<html>
  <head>
    {{ template "header" . }}
    <title>{{.GlobalVars.Name}}</title>
  </head>
  <body>
  {{ template "hero-medium" . }}
  <section class="section">
    <div class="container">
      <form action="/search" method="GET">
        <div class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <input class="input is-large" type="text" name="query"  placeholder="Query" spellcheck="false">
            <span class="icon is-small is-left">
              <i class="fa-regular fa-magnifying-glass"></i>
            </span>
          </div>
          <div class="control">
            <input class="button is-primary is-large" type="submit" value="Search">
          </div>
        </div>
      </form>
    </div>
    <script>
      if (typeof navigator.serviceWorker !== 'undefined') {
        navigator.serviceWorker.register('/static/pwabuilder-sw.js')
      }
    </script>
  </body>
</html>